
include AUTHORS.md

include COPYING
include CONTRIBUTING.md
include HISTORY.md
include README.md
include pyproject.toml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py Makefile make.bat *.jpg *.png *.gif
recursive-exclude docs/_build *
